# MacOS
.DS_Store

# Xcode
RealDeviceMap-UIControl.xcodeproj/project.xcworkspace/xcuserdata/*
.idea/
Manager/RDM-UIC-Manager.xcodeproj/
Manager/.build/
Manager/Package.resolved
Manager/.swiftpm/
MacLessManager/MacLessManager.xcodeproj/
MacLessManager/.build/
MacLessManager/Package.resolved
MacLessManager/.swiftpm/

# Pods
Podfile.lock
Pods/
*.xcworkspace

# Manager
Manager/logs/
Manager/db.sqlite
Manager/StORMlog.txt
Manager/RDM-UIC-Manager
